@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
    box-sizing: border-box;
}

body {
  color: #555;
  margin: 0;

  font-family: 'Montserrat', sans-serif;
}

#header {
  background-color: #1abc9c;
  height: 100px;
  line-height: 100px;
}

#header a {
  color: white;
  text-decoration: none;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#header a:hover {
  color: #222;
}

#header-title {
  display: block;
  float: left;

  font-size: 20px;
  font-weight: bold;
}

#header-nav {
  display: block;
  float: right;
  margin-top: 0;
}

#header-nav li {
  display: inline;
  padding-left: 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

#footer {
  background-color: #2f2f2f;
  padding: 25px 0;
}

#footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer p {
  color: white;
}

.column {
    float: left;
    padding: 10px;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

a {
  color: #1abc9c;
  text-decoration: none;
}

a:hover {
  color: #f6a623;
}

.company, .about {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

.company-author img {
  width: 75px;
  height: 75px;
  vertical-align: middle;
}

.company-author sp {
  margin-left: 14px;
  font-size: 20px;
}

.company-date {
  color: #d2d2d2;

  font-size: 14px;
  font-weight: bold;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h1, h2, h3, h4 {
  color: #333;
}

p {
  line-height: 1.5;
}

.about {
  text-align: center;
}

.company-container:nth-child(even) {
  background-color: #f2f2f2;
}
